.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
}
.big{
  margin: 10px 0;
}
.small-text{
  font-size: 16px;
  text-align: center;

}
.big-text{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.btn-trail{
  background-color: #fff;
  color: #5282df;
  border: 1px solid #5282df;
}

@media screen and (max-width: 720px) {
  
}