.hero {

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: row-reverse; */
  max-width: 1100px;
  height: 85vh;
  margin: 100px auto 0px;
  padding-bottom: 20px;
}

.heading {
  color: rgb(30 99 255);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.detail {
  font-size: 1.25rem;
  line-height: 2rem;
}

.detail span {
  font-weight: bold;
  color: rgb(52 84 255);
}

.btn {
  background-color: rgb(93, 141, 255);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  padding: 10px 15px;
  margin-top: 15px;
  box-shadow: 0px 0px 3px rgb(145, 232, 252);
  transition: ease-out 300ms
}

.btn:hover {
  font-size: 1.05rem;
  box-shadow: 0px 0px 10px rgb(51, 173, 254);
  cursor: pointer
}

.server-img {
  width: 600px;
}

@media screen and (max-width: 720px) {
  .hero {
    row-gap: 20px;
    height: 55vh;
    flex-direction: column-reverse;
    justify-content: start;
  }

  .hero-headding {
    font-size: 28px;
  }

  .hero-detail {
    font-size: 16px;
  }

  .server-img {
    width: 300px;
  }

  .server-img {
    margin-top: 10px;
  }

  .description {
    text-align: center;
  }
}