@media screen and (max-width: 880px) {
  
}
.card-container {
  border: 1px solid gray;
  width: 350px;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 15px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(51, 132, 255);
  /* transition: ease-out 100ms; */
  transition: transform .2s;
  background-color: rgb(241 241 241 / 22%);
  backdrop-filter: blur(10px);
}
.card-container:hover {
  transform: scale(1.025);
  box-shadow: 0 0 15px rgb(51, 132, 255);
}
.left{
  text-align: center;
}
.headding{
  font-weight: 600;
}
.c-head{
  font-size: 14px;
}
.price > :nth-child(1){
  font-size: 18px;
  color: gray;
}
.price > :nth-child(2){
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(62, 123, 254);
}
.card-btn{
  font-size: 0.75rem;
  font-weight: 300;
  padding: 8px 12px;
}
.card-btn:hover{
  font-size: 0.8rem;
}
.V-line {
  border: 1px solid rgb(142, 142, 142);
  height: 150px;
  box-shadow: 0 0 5px gray;
}
.right > p{
  font-size: 0.75rem;
  line-height: 1.5rem;
}
.card-img {
  width: 80px;
}
